*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    background: linear-gradient(to right, rgb(90, 5, 90) 55%, rgb(142, 62, 150));
}

main{
    width: 300px;
    margin: auto;
    margin-top: 8%;
    padding-bottom: 30px;
 }

form>input{
    font-size: 35px;
    border-radius: 35px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 290px;
    padding: 5px;
    box-shadow: 0px 0px 20px white;
}

form>input:focus{
    box-shadow: 0px 0px 20px rgb(245, 169, 5);
    transition-duration: 0.5s;
}

button{
    width: 300px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    text-shadow: 2px 2px 2px grey;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    background-color: rgb(163, 94, 228);
    transition-duration: 0.5s;
}

button:focus{
    background-color: rgb(163, 94, 228);
}

a{
    text-decoration: none;
    color: rgb(236, 227, 245);
    margin-left: 11%;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px grey;
}

a:hover{
    color: rgb(210, 165, 252);
    transition-duration: 0.5s;
}

a:focus{
    color: rgb(210, 165, 252);
}

.imagem{
    margin-left: 29%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.new{
    border: solid rgb(179, 104, 230);
    background-color: transparent;
    font-size: 25px;
    text-shadow: 2px 2px 2px grey;
}

h2{
    color: rgb(255, 230, 118);
    text-shadow: 2px 2px 2px rgb(56, 56, 56);
    font-size: 18px;
    margin-top: 10px;
}