*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    background: linear-gradient(to right, rgb(90, 5, 90) 55%, rgb(142, 62, 150));
}

main{
    width: 350px;
    margin: auto;
    margin-top: 4.5%;
    border: solid rgb(179, 104, 230);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
 }

form>input{
    font-size: 35px;
    border-radius: 35px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 340px;
    padding: 5px;
}

button{
    width: 350px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    text-shadow: 2px 2px 2px grey;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    background-color: rgb(163, 94, 228);
    transition-duration: 0.5s;
}

a{
    text-decoration: none;
    color: rgb(236, 227, 245);
    margin-left: 18%;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px grey;
}

a:hover{
    color: rgb(210, 165, 252);
    transition-duration: 0.5s;
}

.imagem{
    margin-left: 29%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.new{
    border: solid rgb(179, 104, 230);
    background-color: transparent;
    font-size: 25px;
    text-shadow: 2px 2px 2px grey;
}