*{
    margin: 0px;
}

body{
    background: linear-gradient(to right, rgb(90, 5, 90) 55%, rgb(142, 62, 150));
}

main{
    width: 350px;
    margin: auto;
}

form>input{
    font-size: 40px;
    border-radius: 35px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px;
}

button{
    width: 350px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    text-shadow: 2px 2px 2px grey;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    background-color: rgb(163, 94, 228);
    transition-duration: 0.5s;
}

a{
    text-decoration: none;
    color: rgb(241, 226, 255);
    margin-left: 18%;
    font-size: 30px;
}

a:hover{
    color: rgb(210, 165, 252);
    transition-duration: 0.5s;
}