#edit_sobre{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 95vw;
    height: 100vh;
    position: absolute;
    margin-top: -700px;
    margin-left: -50px;
}

#edit_sobre>h1{
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 150px;
}

#edit_sobre>textarea{
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 310px;
    height: 180px;
    padding: 10px;
    margin-left: 20px;
}