#edit_sobre{
    background-color: rgba(87, 85, 85, 0.5);
    padding: 10px;
    width: 95vw;
    height: 100vh;
    position: absolute;
    margin-top: -700px;
    margin-left: -50px;
}

#edit_sobre>h1{
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 27px;
    width: 320px;
}

#edit_sobre>textarea{
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px 10px 0px 0px;
    width: 310px;
    height: 180px;
    padding: 10px;
    margin-left: 20px;
}

#edit_sobre>button{
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    width: 334px;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
    margin-top: -10px;
}